MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
MICROSOFT_REDIRECT_URI=http://localhost:8000
MICROSOFT_CALLBACK_URI=http://localhost:8000/auth/callback
MICROSOFT_FIXED_SENDER_EMAIL=angelofarah1@outlook.com
MICROSOFT_TOKEN_CACHE_FILE=auth_data/microsoft_token_cache.bin

COMPANIES_FILE=data/3rd Party- Ticket Support.xlsx
